@model IEnumerable<BugTracker.Models.ProjectDashboardViewModel>


@{
    ViewData["Title"] = "Dashboard";
}

@foreach (var item in Model.Bugs)
{
<h1>@(item.ProjectId)</h1>
}

@foreach (var item in Model.Tasks)
{
<h1>@(item.ProjectId)</h1>
}

<div class="row">
    <div class="col-xl-6 mb-5 mb-xl-0">
        <div class="card bg-neutral shadow">
            <div class="card-header bg-transparent">
                <div class="row align-items-center">
                    <div class="col">
                        <h2 class="text-purple mb-0">Task Status</h2>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <canvas id="chart-area1"></canvas>
            </div>
        </div>
    </div>
    <div class="col-xl-6 mb-5 mb-xl-0">
        <div class="card shadow bg-neutral">
            <div class="card-header bg-transparent">
                <div class="row align-items-center">
                    <div class="col">
                        <h2 class="text-purple mb-0">Bug Status</h2>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <canvas id="chart-area2"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-xl-12 mb-5 mb-xl-0">
        <div class="card shadow">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="text-purple mb-0">Team Status </h3>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <!-- Projects table -->
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Users </th>
                            <th scope="col"></th>
                            <th scope="col">Tasks</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">Bugs </th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>Overdue</td>
                            <td>Today's</td>
                            <td>All Open</td>
                            <td>Overdue</td>
                            <td>Today's</td>
                            <td>All Open</td>
                        </tr>
                        <tr>
                            <td>Hung</td>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-xl-6">
        <div class="card shadow">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="text-purple mb-0">Overdue Work Items</h3>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <!-- Projects table -->
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Late by</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                bug1
                            </td>
                            <td>
                                bug
                            </td>
                            <td>
                                30 days
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Chart.min.js" asp-append-version="true"></script>
<script src="~/js/utils.js" asp-append-version="true"></script>

<script>
    var randomScalingFactor = function () {
        return Math.round(Math.random() * 100);
    };

    var config = {
        type: 'pie',
        data: {
            datasets: [{
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                ],
                backgroundColor: [
                    window.chartColors.red,
                    window.chartColors.orange,
                    window.chartColors.yellow,
                    window.chartColors.green,
                    window.chartColors.blue,
                ],
                label: 'Dataset 1'
            }],
            labels: [
                'Red',
                'Orange',
                'Yellow',
                'Green',
                'Blue'
            ]
        },
        options: {
            responsive: true
        }
    };

    window.onload = function () {
        var ctx = document.getElementById('chart-area1').getContext('2d');
        window.myPie = new Chart(ctx, config);

        var ctx = document.getElementById('chart-area2').getContext('2d');
        window.myPie = new Chart(ctx, config);
    };
</script>
