@page
@model BugTracker.Views.Home.IndexModel
@{
        Layout = "~/Views/Shared/_layout_no_sidebar.cshtml";

}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h1 class="display-4">Hello, and welcome to my app!</h1>
                <p class="lead">This is a bug tracker application built in C# and ASP.net.</p>
                <hr class="my-4">
                <p>HTTP Requests are disable for server protection, But data has been pre-loaded. Please go to projects to get started!</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/projectsettings" role="button">See Projects</a>
                </p>
            </div>
        </div>
    </div>
</div>